.app__bookMenu-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0;
}
.app__bookMenu-loading {
  background-color: rgba(128, 128, 128, 0.286);
  border-radius: 20px;
  padding: 1rem;
}
.app__bookMenu-loading_imgHolder {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color-gold);

  background: linear-gradient(
    90deg,
    var(--color-gold) 25%,
    #e0e0e0 50%,
    var(--color-gold) 75%
  );
  background-size: 200% 100%;
  animation: loading 2s infinite;
}
.app__bookMenu-loading_infoHolder {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.app__bookMenu-loading_infoHolder div {
  width: 90%;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    var(--color-gold) 25%,
    #e0e0e0 50%,
    var(--color-gold) 75%
  );
  background-size: 200% 100%;
  animation: loading 2s infinite;
}
.app__bookMenu-loading_infoHolder div:nth-child(2) {
  width: 70%;
}
.app__bookMenu-loading_infoHolder div:nth-child(3) {
  width: 50%;
}

.app__bookMenu-item p {
  color: var(--color-white);
}
.app__bookMenu-item_image {
  position: relative;
  border-radius: 20px;
}
.app__bookMenu-item_image div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 23px;
  transition: all 0.5s ease;
  opacity: 0;
}
.app__bookMenu-item_image div svg:hover {
  color: var(--color-golden);
}
.app__bookMenu-item_image:hover div {
  opacity: 1;
}
.app__bookMenu-item_image img {
  width: 100%;
  height: auto;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
