.login__form {
  width: 100%;
  position: relative;
}
.login__form-notUserError {
  position: absolute;

  top: -150px;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--color-white);
  background-color: #95854c;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
}
.login__form-password,
.login__form-username {
  position: relative;
}

.login__form-username_errorMsg,
.login__form-password_errorMsg {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--color-golden);
  font-weight: 400;
}

.login__form-password_errorMsg {
  bottom: -6px;
}
